<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<a href="http://<%= @post.url %>">url</a>

<fieldset>
  <legend>Add Comment</legend>
  <%= form_for(@comment) do |f| %>
    <%= f.text_area :body %><br>

    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.submit "Submit" %>
  <% end %>
</fieldset>

<ol>
  <% @post.comments.each do |comment| %>
    <li><%= link_to comment.body, comment_url(comment) %></li>
  <% end %>
</ol>

